body {
  margin: 0;
}

.body-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  background-color: whitesmoke;
}

.body-container header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: aquamarine;
}

.body-container nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  background-color: orange;
}

.body-container section {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  background-color: green;
}

.body-container aside {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  background-color: red;
}

.body-container footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  background-color: blue;
}
